APP_NAME="Payment Gateways"
APP_ENV=local
APP_KEY=base64:CVKnc228RR7dqdK4M8i6oPONH0smvyZe7osLAj40n68=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=paymentgateways
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379


MAIL_MAILER=smtp
MAIL_HOST=usstateservice.com
MAIL_PORT=465
MAIL_USERNAME=usmanamjad@usstateservice.com
MAIL_PASSWORD=Us@6112622
MAIL_ENCRYPTION=SSL
MAIL_EMAIL= usmanamjad@usstateservice.com
MAIL_FROM_ADDRESS="usmanamjad@usstateservice.com"
MAIL_FROM_NAME="usmanamjad@usstateservice.com"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

PAYPAL_CLIENT_ID=AaRICbJBk3NRe9sl6y56gcgkzZ_LXhbyiTdiDcqg9fgl7zDFm8z8IMk7WnnxdgY5FlxDCHVXmXxNQmHa
PAYPAL_CLIENT_SECRET=EGIscfVXDWMc_iK9zgggfeOazbt6opJyiHhLNxY0CuVyOJLPOhPkrgmvuJ3qSK3BpiQZir2perpY6lcY
PAYPAL_CURRENCY=USD

STRIPE_KEY=pk_test_51MeBJ6DUdGp8cLaaQPtkpPKFVpmlPtnXKP1gWSpSC0IOArI6G7ZaOZkGVgpzhaH2BYNM5v4iDdqDirMBzUkbaxrY00z6IrhDnz
STRIPE_SECRET=sk_test_51MeBJ6DUdGp8cLaab4FDZO0dhTpEHzRLvLFdhPLhJe3SVXKKDYjhuPlmcxShR709ocA7LgcsVtCIh4MvrZp7U9Os007HtPzCEi


JAZZCASH_PAYMENTMODE=sandbox
JAZZCASH_MERCHANTID=
JAZZCASH_PASSWORD=
JAZZCASH_HASHKEY=
JAZZCASH_MPIN=
JAZZCASH_PRODUCTION_URL=https://payments.jazzcash.com.pk/CustomerPortal/transactionmanagement/merchantform
JAZZCASH_SANDBOX_URL=https://sandbox.jazzcash.com.pk/CustomerPortal/transactionmanagement/merchantform
JAZZCASH_RETURNURL=

RAZOR_KEY=xxxxx
RAZOR_SECRET=xxxxx

PAY4ME_PUBLIC=
PAY4ME_SECRET=

PAYSTACK_PUBLIC=
PAYSTACK_SECRET=

FLUTTERWAVE_PUBLIC=FLWPUBK_TEST-cc41760eb0be12cefad994a29a834c36-X
FLUTTERWAVE_SECRET=FLWSECK_TEST-51848d4e6f78e19a6b2d0574070b453a-X
FLUTTERWAVE_ENCRYPTION_KEY=FLWSECK_TESTfc9d90e6dc96

KLASHA_PUBLIC=
KLASHA_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
your_redirect_url=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
your_redirect_url=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
your_redirect_url=
